<tr><td><table width="100%" border="0"><tr>
	<td width="6%" align="center"><img src="Log_files\%KIND%.png" /></td>
  <td width="94%"><b>%MESSAGE%</b></td></tr>
</table></td></tr>
<tr><td>&nbsp;</td></tr>
  %DETAILS%
  %CONTEXT%
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
