<link href="management_console.css" rel="stylesheet" type="text/css" />
<form id="" name="" method="post" action="run_ac_operation$SESSION$&amp;host=$HOST$&amp;evdomain=$EVDOMAIN$">
  <table width="100%" border="0">
  <tr>
    <th height="22" colspan="3" class="bodyText" id='hgroup'>Manual Database Operation</th>
    </tr>
  <tr>
    <td width="85" height="22" class="bodyText">Database(s)</td>
    <td width="924" colspan="2">$DB_LIST$</td>
  </tr>
  <tr>
    <td height="51" colspan="3"><input name="Check" type="submit" id="Check" value="Check Status" />
      &nbsp;&nbsp;     
      <input name="Full_Copy" type="submit" id="Full_Copy" value="Full Copy" />
      &nbsp;&nbsp;     
      <input name="Check_Trans" type="submit" id="Check_Trans" value="Quick Data Check" />
      &nbsp;&nbsp; 
      <input name="Check_Data" type="submit" id="Check_Data" value="Deep Data Check" />
    </td>
  </tr>
</table>
</form>
