<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">$CAPTION$</span></p>
<p><span class="pageName">Host: $HOST$</span></p>
<p><span class="bodyText">$SET_REFRESH$</span></p>
<p><span class="bodyText">$CONTENT$ </span></p>
