<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">$CAPTION$</span></p>
<p><span class="pageName">Host: $HOST$</span></p>
<p><span class="bodyText"><span class="subHeader">$EVDOMAIN_NAME$</span></span></p>
<p><span class="bodyText">$SET_REFRESH$</span></p>
<table border="0">
  <tr>
    <th width="673" height="21" id='hgroup'> Summary</th>
  </tr>
  <tr>
    <td><table width="551" border="1" cellspacing="0" bordercolor="#999999">
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong> Connection</strong></td>
        <td width="426" nowrap="nowrap" class="tabDetails">$CONNECTED$</td>
        </tr>
      <tr>
        <td width="115" nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Replication Queue</strong></td>
        <td nowrap="nowrap" class="tabDetails">$REP_QUEUE$</td>
        </tr>
      <tr>
        <td width="115" nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Upload  Queue</strong></td>
        <td nowrap="nowrap" class="tabDetails">$UPL_QUEUE$</td>
        </tr>
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Last Client Activity</strong></td>
        <td nowrap="nowrap" class="tabDetails">$CL_LAST_ACT$</td>
        </tr>
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Last Server Activity</strong></td>
        <td nowrap="nowrap" class="tabDetails">$SRV_LAST_ACT$</td>
      </tr>
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Oper Latency</strong></td>
        <td nowrap="nowrap" class="tabDetails">$LATENCY$</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>$MANUAL_OPERATION$</td>
  </tr>
  <tr>
    <th height="21" id='hgroup'> Current Activity</th>
  </tr>
  <tr>
    <td><span class="bodyText">$ACTIVE_REQUESTS$</span></td>
  </tr>
</table>
