<link href="management_console.css" rel="stylesheet" type="text/css" />
<form id="" name="" method="post" action="run_as_operation$SESSION$&amp;host=$HOST$&amp;evdomain=$EVDOMAIN$">      
      <table width="100%" border="0">
      <tr>
         <th height="21" id='hgroup'><span class="bodyText">Manual Database Operation (Target Database)</span></th>
      </tr>
      <tr>
        <td><input name="Rebuild_All_TT" type="submit" id="Rebuild_All_TT" onclick="return confirm('Please confirm this operation')" value="Rebuild Temp Tables for ALL clients" /></td>
      </tr>
    </table>
</form>    
