<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;Request Broker Printers</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_rbprinters$SESSION$">
<table width="480" border="0">
  <tr>
    <td height="25" colspan="3" valign="top" nowrap="nowrap">$PRINTING_ENABLED$</td>
  </tr>
  <tr>
    <td height="42" colspan="3" valign="top" nowrap="nowrap"><Label>Duplex Mode&nbsp;$DUPLEX_MODE$</Label></td>
  </tr>
  <tr>
    <th height="24" colspan="3" valign="top" nowrap="nowrap" id="hgroup">Checks Printer</th>
  </tr>
  <tr>
    <td height="66" valign="top" nowrap="nowrap"><label> Printer<br>
    $CHECKS_PRINTER$</label></td>
    <td width="78" height="66" valign="top" nowrap="nowrap"><label>Vertical Offset<br>
      <input name="check_v_offset" type="text" id="check_v_offset" value="$CHECK_V_OFFSET$" size="10" />
    </label></td>
    <td width="83" valign="top" nowrap="nowrap"><label>Horizontal Offset<br>
      <input name="check_h_offset" type="text" id="check_h_offset" value="$CHECK_H_OFFSET$" size="10" />
    </label></td>
  </tr>
  <tr>
    <th height="25" valign="top" colspan="3" nowrap="nowrap" id="hgroup">Reports Printer</th>
  </tr>
  <tr>
    <td height="66" valign="top" nowrap="nowrap">Printer<br>
    $REPORTS_PRINTER$</td>
    <td height="61" valign="top" nowrap="nowrap">Vertical Offset<br>
      <input name="report_v_offset" type="text" id="report_v_offset" value="$REPORT_V_OFFSET$" size="10" /></td>
    <td height="61" valign="top" nowrap="nowrap">Horizontal Offset<br>
      <input name="report_h_offset" type="text" id="report_h_offset" value="$REPORT_H_OFFSET$" size="10" /></td>
  </tr> 
  <tr>
    <td height="42" valign="bottom" colspan="3" nowrap="nowrap"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
  </tr>
  <tr>
    <td height="21" valign="bottom" colspan="3" nowrap="nowrap">&nbsp;</td>
  </tr>  
</table>
</form>
