<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Remote Relay  Users Connections</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_rr_user_connections$SESSION$&amp;evdomain=$EVDOMAIN$">
<p class="subHeader">$EVDOMAIN_NAME$</p>
<p class="subHeader">&nbsp;</p>
<p class="bodyText"><strong>Please select Internal User Remote Relay connections rule </strong></p>
<p class="bodyText">
  $CONTENT$</p>
<p><br />
  <input style="text-align:center" type="submit" onclick="return confirm('Please confirm change')" value="Save Changes" />
</p>
</form>
