<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;API Adapter Settings</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_aa$SESSION$">
<table width="335" border="0">
  <tr>
    <td height="16" valign="top" colspan="7" nowrap="nowrap">$CONTENT$    </td>
  </tr> 
  <tr>
    <td height="37" valign="bottom" colspan="7" nowrap="nowrap"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
  </tr>
  <tr>
    <td height="45" valign="bottom" colspan="7" nowrap="nowrap"><a href="maintenance_services$SESSION$&mmitem=2">Service Control</a></td>
  </tr>  
</table>
</form>