<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Alternative Update Server</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_aus$SESSION$">
<table width="525" border="0">
  <tr>
    <td width="519" height="22">
<label>Server Name&nbsp;&nbsp;
<input name="aus" type="text" class="bodyText" value="$AUS$" size="80" />
</label></td>
  </tr>
  <tr>
    <td height="53"><span class="bodyText">Example:&nbsp;&nbsp;&nbsp;http://update.paycompany.com/&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;http://update.paycompany.com/update/</span></td>
  </tr>
</table>
<p class="bodyText">
  <input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" />
</p>
</form>
