<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Request Broker Folders</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_rbfolders$SESSION$&amp;evdomain=$EVDOMAIN$">
<p class="subHeader">$EVDOMAIN_NAME$</p>
<table width="535" border="0" class="bodyText">
  <tr>
    <td width="111" height="36" valign="top" nowrap="nowrap" scope="col">Task Queue Folder</td>
    <td width="414" valign="top" scope="col"><input name="task_queue" type="text" id="task_queue" value="$TASK_QUEUE$" size="80" /></td>
  </tr>
  <tr>
    <td height="36" valign="top" nowrap="nowrap" scope="col">VMR Folder</td>
    <td valign="top" scope="col"><input name="vmr" type="text" id="vmr" value="$VMR$" size="80" /></td>
  </tr>
  <tr>
    <td width="111" height="36" valign="top" nowrap="nowrap" scope="col">ACH Folder</td>
    <td width="414" valign="top" scope="col"><input name="ach" type="text" id="ach" value="$ACH$" size="80" /></td>
  </tr>
  <tr>
    <td width="111" height="36" valign="top" nowrap="nowrap" scope="col">ASCII Export Prefix (optional)</td>
    <td width="414" valign="top" scope="col"><input name="ascii" type="text" id="ach" value="$ASCII$" size="80" /></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="540">
  <tr>
    <th width="525" scope="col"><span class="alertText">ATTENTION! This change  requires restarting of Request Broker service!</span></th>
  </tr>
</table>
<p>&nbsp;</p>
<table width="540">
  <tr>
    <td width="261" align="left" scope="col"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm folders change')" value="Save Changes" /></td>
    <td width="262" scope="col">&nbsp;</td>
  </tr>
</table>
</form>
