<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">ADR  Target DB Configuration</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_asdb$SESSION$&amp;evdomain=$EVDOMAIN$">
<p class="subHeader">$EVDOMAIN_NAME$</p>
<table width="452" height="386" border="0">
  <tr>
    <td width="139" height="33" valign="top" nowrap="nowrap">Default DB path (required)</td>
    <td width="300" height="33" valign="top" nowrap="nowrap"><input name="defaultDBpath" type="text" id="defaultDBpath" 
    value="$defaultDBpath$" size="60" /></td>
  </tr> 
  <tr>
    <td height="21" colspan="3" valign="top" nowrap="nowrap">&nbsp;</td>
    </tr>
  <tr>
    <th height="22" colspan="3" valign="top" nowrap="nowrap" id='hgroup'>Primary DB path overrides (optional, leave blank for default)</th>
  </tr>
  <tr>
    <td height="21" colspan="3" valign="top" nowrap="nowrap" id='hgroup2'>&nbsp;</td>
  </tr> 
  <tr>
    <td height="16" valign="top" nowrap="nowrap">SYSTEM DB path override</td>
    <td height="16" valign="top" nowrap="nowrap"><input name="systemDBpath" type="text" id="systemDBpath" value="$systemDBpath$" size="60" /></td>
  </tr> 
  <tr>
    <td height="16" valign="top" nowrap="nowrap">S_BUREAU DB path override</td>
    <td height="16" valign="top" nowrap="nowrap"><input name="sbDBPath" type="text" id="sbDBPath" value="$sbDBpath$" size="60" /></td>
  </tr> 
  <tr>
    <td height="59" valign="top" nowrap="nowrap">TMP_TBLS DB path override</td>
    <td height="59" valign="top" nowrap="nowrap"><input name="tmpDBPath" type="text" id="tmpDBPath" value="$tmpDBpath$" size="60" /></td>
  </tr>  
  <tr>
    <th height="22" colspan="3" valign="top" nowrap="nowrap" id='hgroup'>Client DB path overrides (optional, use blank for default)</th>
  </tr>
  <tr>
    <td height="21" colspan="3" valign="top" nowrap="nowrap" id='hgroup3'>&nbsp;</td>
  </tr>  
  <tr>
    <td height="16" valign="top" colspan=3 nowrap="nowrap">$CLIENT_DB_PATHS$</td>
  </tr> 
  <tr>
    <td height="56" valign="bottom" nowrap="nowrap"><input style="text-align:center" name="" type="submit" onclick="return confirm('Please confirm AS configuration change')" value="Save Changes" /></td>
    <td height="56" valign="bottom" nowrap="nowrap"></td>
  </tr>  
</table>
</form>
