<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">EMail Notification</span></p><br>
<form autocomplete="off" action="change_email$SESSION$" method="post" enctype="application/x-www-form-urlencoded" name="" id="">
<table width="500" class="bodyText">
  <tr>
  <th height="25" colspan="7" valign="top" id="hgroup">SMTP Settings</th>
  </tr>
  <tr>
    <td colspan="7">&nbsp;</td>
  </tr> 
  <tr>
  <td width="29" height="38" valign="top" nowrap="nowrap">Host</td>
  <td height="38" colspan="3" align="left" valign="top"><input name="smtp_host" type="text" value="$SMTP_HOST$" size="60" /></td>
  <td width="37" height="38" align="right" valign="top">&nbsp;&nbsp;&nbsp;Port&nbsp;&nbsp;</td>
  <td width="70" height="38" align="left" valign="top"><input name="smtp_port" type="text" id="smtp_port" value="$SMTP_PORT$" size="5" /></td>
  </tr>
  <tr>
    <td height="38" valign="top" nowrap="nowrap">User</td>
    <td width="106" height="38" valign="top"><input name="smtp_user" type="text" value="$SMTP_USER$" size="15" /></td>
    <td width="72" align="left" valign="top">&nbsp;&nbsp;&nbsp;Password&nbsp;&nbsp;</td>
    <td width="113" align="left" valign="top"><input name="smtp_password" type="password" value="$SMTP_PASSWORD$" size="20" /></td>
    <td height="38" colspan="3" align="left" valign="top">&nbsp;</td>
    </tr>  
</table>
<p>&nbsp;</p>
<table width="500" class="bodyText">
  <tr>
  <th height="22" colspan="7" valign="top" id="hgroup">Notification Settings</th>
  </tr>
  <tr>
    <td height="22" colspan="7" valign="top">&nbsp;</td>
  </tr> 
  <tr>
    <td width="137" height="35" valign="top" nowrap="nowrap" scope="col">Notifications are sent from</td>
    <td colspan="2" valign="top" scope="col"><input name="sent_from" type="text" id="sent_from" value="$SENT_FROM$" size="50" />
    <p><b>Note: This field is for the domain name only, do not use the prefix or @ symbol.</b></p>
    <br>
    </td>
    </tr>
    <tr>
    <td width="137" valign="top" nowrap="nowrap">Notifications are sent to</td>
    <td width="289" valign="top" scope="col"><textarea name="sent_to" cols="47" rows="5" wrap="off" id="sent_to">$SENT_TO$</textarea></td></tr>
</table>
<p>&nbsp;</p>
<p>
  <input style="text-align:center" type="submit" onclick="return confirm('Please confirm email settings change')" value="Save Changes" />
</p>
</form>
<form action="test_email$SESSION$" method="post" enctype="application/x-www-form-urlencoded" name="" id="">
  <p class="bodyText">
    <input style="text-align:center" type="submit" value="Send Test Email" />
  &nbsp;(Please save changes first)</p>
</form>

