<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Temporary Folders</span></p>
<form id="tmp_folders" name="tmp_folders" autocomplete="off" method="post" action="CHANGE_TMPFOLDERS$SESSION$">
<table width="459" border="0">
  <tr>
    <td width="445" height="26">$CONTENT$</td>
  </tr>
  <tr>
    <td height="21">
  </tr>
  <tr>
    <td height="25"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
  </tr>
</table>
</form>