<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Database Passwords</span></p>
<form id="" name="" method="post" action="change_dbpasswords$SESSION$">
<table width="493" height="128" border="0">
  <tr>
    <td height="32" valign="top" nowrap="nowrap"> SYSDBA password (required)</td>
    <td valign="top" nowrap="nowrap"><input name="dbSysdbaPassword" type="password" id="dbSysdbaPassword" 
    value="$DBSysdbaPassword$" size="32" /></td>
  </tr>
  <tr>
    <td height="32" valign="top" nowrap="nowrap"> EUSER password (required)</td>
    <td height="32" valign="top" nowrap="nowrap"><input name="dbEuserPassword" type="password" id="dbEuserPassword" 
    value="$DBEuserPassword$" size="32" /></td>
  </tr>
  <tr>
    <td height="56" valign="bottom" nowrap="nowrap"><input style="text-align:center" name="input" type="submit" onclick="return confirm('Please confirm passwords change')" value="Save Changes" /></td>
    <td height="56" valign="bottom" nowrap="nowrap"></td>
  </tr>
</table>
</form>
