<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">ADR Server Settings</span><br>
<span class="pageName">Host: $HOST$</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_as$SESSION$&amp;host=$HOST$">
<table width="517" height="153" border="0">
  <tr>
    <td width="96" height="32" valign="middle" class="tabDetails">Clients Port</td>
    <td width="61" valign="middle" class="tabDetails"><input name="port" type="text" id="port" value="$PORT$" size="5" maxlength="5" /></td>
    <td width="346" valign="middle" class="tabDetails">SSL
      <input name="ssl" type="checkbox" id="ssl" value="1" $SSL$/></td>
    </tr>
  <tr>
    <td height="30" valign="middle" class="tabDetails"><label>Staging Folder</label></td>
    <td height="30" colspan="2" valign="middle" class="tabDetails"><input name="staging_folder" type="text" id="staging_folder" value="$STAGING_FOLDER$" size="80" /></td>
    </tr>
  <tr>
    <td height="21" colspan="3" valign="bottom">&nbsp;</td>
  </tr>
  <tr>
    <td height="16" colspan="3" class="tabDetails">$DOMAINS_SETUP$</td>
  </tr>
  <tr>
    <td height="42" colspan="3" valign="bottom"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
  </tr>
</table>
</form>
<form id="" name="" autocomplete="off" method="post" action="change_as$SESSION$&amp;host=$HOST$">
  <p>&nbsp;</p>
  <table width="515" border="0">
    <tr>
      <td width="152"><span class="tabDetails">Max Simultaneous Requests</span></td>
      <td width="40"><span class="tabDetails">
        <input name="max_requests" type="text" id="max_requests" value="$MAX_REQUESTS$" size="3" maxlength="3" />
      </span></td>
      <td width="309"><input type="submit" style="text-align:center" value="Apply" /></td>
    </tr>
  </table>
</form>