<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Deployment Managers<br>
</span></p>
<table width="386" border="0">
  <tr>
    <td height="16" valign="top" colspan="2" nowrap="nowrap">$CONTENT$</td>
    <td width="162" height="16" valign="top" nowrap="nowrap">&nbsp;</td>
  </tr> 
  <form autocomplete="off" method="post" action="add_dsservices$SESSION$">
  <tr>
  <td width="60" height="47" valign="bottom" nowrap="nowrap">New Host</td>
  <td width="150" align="center" valign="bottom" nowrap="nowrap">    <input name="host" type="text" id="host" size="30" />  </td>
  <td valign="bottom" nowrap="nowrap"><input style="text-align:center" type="submit" value="Add" /></td>
  </tr>
  </form>  
  <form method="get" action="discover_dsservices$SESSION$&mmitem=|Configuration|Deployment Managers&" >  
  <tr>
    <td height="59" colspan=3 valign="bottom"><input style="text-align:center" type="submit" value="Discover Local Network"/></td>
  </tr>
  </form>    
</table>
