<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;Evolution Servers</span></p>
<table width="335" border="0">
  <tr>
    <td height="16" valign="top" colspan="7" nowrap="nowrap">$CONTENT$    </td>
  </tr> 
  <tr>
    <td height="31" valign="bottom" colspan="7" nowrap="nowrap"><a href="maintenance_services$SESSION$&mmitem=|Maintenance|Service Control">Service Control</a></td>
  </tr>  
</table>
