<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;Log Files Size Control</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_log_files_threshold$SESSION$">
<table width="558" border="0">
  <tr>
    <td height="97" colspan="2" valign="top" class="bodyText"><p>These settings control the size of the log files on all Evolution servers by limiting the number of records it contains. In general, a few thousand records is usually enough to provide a history for about a month. The "Records to purge" setting indicates how many old records will be deleted if the log file exceeds the maximum number of records. A good practice is to keep it around 10% of the maximum log size. Zero values will disable the log file size control.</p>
      </td>
    </tr>
  <tr>
    <td width="137" height="27" valign="top" nowrap="nowrap" class="bodyText">Maximum size in records</td>
    <td width="411" valign="top" nowrap="nowrap" class="bodyText"><input name="max_size" type="text" id="max_size" value="$MAX_SIZE$" size="15" maxlength="15" /></td>
  </tr>
  <tr>
    <td height="30" valign="top" nowrap="nowrap" class="bodyText"><Label>Records to purge</Label></td>
    <td height="30" valign="top" nowrap="nowrap" class="bodyText"><input name="purge" type="text" id="purge" value="$PURGE$" size="15" maxlength="15" /></td>
  </tr> 
  <tr>
    <td height="42" colspan="2" valign="bottom" nowrap="nowrap"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
  </tr>
  <tr>
    <td height="21" colspan="2" valign="bottom" nowrap="nowrap">&nbsp;</td>
  </tr>  
</table>
</form>
