<link href="management_console.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {font-family: Arial, Helvetica, sans-serif}
-->
</style>

<p><span class="pageName"> License</span></p>

<p class="subHeader">$EVDOMAIN_NAME$</p>
<form id="" name="" autocomplete="off" method="post" action="change_license$SESSION$&amp;evdomain=$EVDOMAIN$">
<table width="523" border="0">
<tr>
<td height="35" valign="top" nowrap="nowrap" class="bodyText">Computer Modifier of  $HOST$:</td>
<td width="367" valign="top"><h3 class="bodyText">&nbsp;$COMPUTER_MODIFIER$</h3></td>
</tr>
</table>
<table width="523" border="0" class="bodyText">
  <tr>
    <td width="96" height="37" valign="top" nowrap="nowrap" scope="col">Serial Number</td>
    <td width="417" valign="top" scope="col"><input name="serial_number" type="text" id="serial_number" value="$SERIAL_NUMBER$" size="20" /></td>
  </tr>
  <tr>
    <td width="96" height="39" valign="top" nowrap="nowrap" scope="col">Registration Code</td>
    <td width="417" valign="top" scope="col"><textarea name="reg_code" cols="80" rows="5" wrap="off" id="reg_code">$REG_CODE$</textarea></td>
  </tr>
  <tr>
    <td height="48" colspan="2" valign="bottom" nowrap="nowrap" scope="col">
<input style="text-align:center" type="submit" onclick="return confirm('Please confirm license change')" value="Save Changes" /></td>
  </tr>
  <tr>
    <td height="40" colspan="2" valign="middle" nowrap="nowrap" scope="col">&nbsp;</td>
    </tr>
</table>
<table width="523" height="74" border="0">
  <tr>
    <th height="22" colspan="2" valign="top" nowrap="nowrap" id='hgroup'>License Details</th>
    </tr>
  <tr>
    <td width="185" height="47" valign="top"><span class="bodyText">$LICMOD_DETAILS$</span></td>
    <td width="328" valign="top"><span class="bodyText">$APIKEYS_DETAILS$</span></td>
  </tr>
 <tr>
 <td colspan="2">
<p class="bodyText">$LAST_CHANGE$</p>

 <br>
 <br> </td>
 </tr>
</table>
</form>
<form autocomplete="off" method="get" action="config_license$SESSION$&amp;evdomain=$EVDOMAIN$&amp;bbcheck=1">
<table width="525">
  <tr>
    <th height="22" colspan="2" valign="top" nowrap="nowrap" id='hgroup'>Big Brother Connection Diagnostic</th>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <td width="140" height="41" valign="middle">
<input style="text-align:center" type="submit" value="Check BB connection" />
</td>
<td width="373" valign="middle">
<font color="green"><b>$BBDIAG$</b></font></td>
</tr>
</table>
</form>