<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Admin and System Users</span></p>
<form id="" name="" autocomplete="off" method="post" action="change_sysuser$SESSION$&evdomain=$EVDOMAIN$">
<p class="subHeader">$EVDOMAIN_NAME$
</p><table width="241" border="0" class="bodyText">
  <tr>
    <td height="22" scope="col">Admin User</td>
    <td scope="col"><input name="admin_user" type="text" id="admin_user" value="$ADMIN_USER$" size="15" /></td>
  </tr>
  <tr>
    <td scope="col">&nbsp;</td>
    <td scope="col">&nbsp;</td>
  </tr>
  <tr>
    <td width="79" scope="col">System User</td>
    <td width="152" scope="col"><input name="system_user" type="text" id="system_user" value="$SYSTEM_USER$" size="15" /></td>
    </tr>
</table>
<p><br>
  <input style="text-align:center" type="submit" onclick="return confirm('Please confirm admin and system users change')" value="Save Changes" />
</p>
</form>
