<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Current Activity</span><br>
</p>
<p><span class="bodyText">$SET_REFRESH$</span></p>
<table border="0">  
  <tr>
    <td width="180" valign="top" nowrap="nowrap">Requests execution average delay:</td>
    <td width="77" height="21" colspan="2" valign="top" nowrap="nowrap">$EXEC_DELAY$</td>
  </tr>
  <tr>
    <td height="21" colspan="3" valign="top" nowrap="nowrap">&nbsp;</td>
  </tr>
  <tr>
    <td height="16" colspan="3" valign="top" nowrap="nowrap">$CONTENT$</td>
  </tr> 
</table>
