<link href="management_console.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style2 {color: #FF6666}
-->
</style>
<p><span class="pageName">&nbsp;Database Maintenance</span></p>
<table width="570" border="0">
  <tr>
    <th width="562" height="22" colspan="3" valign="top" nowrap="nowrap" id='hgroup'>Current DB Maintenance Status</th>
  </tr>
  <tr>
    <td colspan="3" valign="top" nowrap="nowrap">$STATUS$</td>
  </tr>
  <tr>
    <td height="30" colspan="3" valign="bottom" nowrap="nowrap">&nbsp;</td>
  </tr>  
</table>
<form id="" name="" method="post" action="manual_dbmaintenance$SESSION$&amp;type=start">    
<table width="570" border="0">
  <tr>
    <th height="22" valign="top" nowrap="nowrap" id='hgroup'>Manual DB Maintenance</th>
  </tr>
  <tr>
    <td valign="top" nowrap="nowrap"><p>$START_MAINTENANCE$
      <input name="btn_dblist" style="text-align:center" type="submit" id="btn_dblist" onclick="return confirm('Are you sure you want to put selected database(s) into maintenance mode at this time?')" value="Put into Maintenance" />
    </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examples:&nbsp;&nbsp;123&nbsp;&nbsp;&nbsp;123,124,487<br />
</p></td>
  </tr>
  <tr>
    <td height="48" valign="bottom" nowrap="nowrap"><input style="text-align:center" name="btn_alldb" type="submit" id="btn_alldb" onclick="return confirm('Are you sure you want to put ALL databases into maintenance mode at this time?')" value="Put ALL databases into Maintenance now" /></td>
  </tr>
  <tr>
    <td height="30" valign="top" nowrap="nowrap">&nbsp;</td>
    </tr>
</table>
</form>  
<form id="" name="" method="post" action="change_scheduled_dbmaintenance$SESSION$">  
<table width="570" border="0">
  <tr>
    <th width="556" height="22" colspan="3" valign="top" nowrap="nowrap" id='hgroup'> Scheduled DB Maintenance
      <div align="right"></div></th>
    </tr>
  <tr>
    <td height="16" valign="top" nowrap="nowrap">$SCHEDULER$</td>
    </tr>
  <tr>
    <td height="42" colspan="6" valign="bottom" nowrap="nowrap"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
    </tr>
</table>
</form>  
