<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Database Maintenance in Progress</span></p>
<p><span class="bodyText">$SET_REFRESH$</span></p>
<table border="0">
  <tr>
    <th width="545" height="21" id='hgroup'> Summary</th>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" bordercolor="#999999">
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Total Progress</strong></td>
        <td width="124" nowrap="nowrap" class="tabDetails">$TOTAL_PROGRESS$</td>
        <td width="195" nowrap="nowrap" class="tabDetails">$ELAPSED_TIME$</td>
        <td width="243" nowrap="nowrap" class="tabDetails">$ETA$</td>
      </tr>
      <tr>
        <td width="94" nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Queued</strong></td>
        <td colspan="3" nowrap="nowrap" class="tabDetails">$QUEUED$</td>
        </tr>
      <tr>
        <td width="94" nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Executing</strong></td>
        <td colspan="3" nowrap="nowrap" class="tabDetails">$EXECUTING$</td>
        </tr>
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Completed</strong></td>
        <td colspan="3" nowrap="nowrap" class="tabDetails">$COMPLETED$</td>
      </tr>
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Skipped</strong></td>
        <td colspan="3" nowrap="nowrap" class="tabDetails">$SKIPPED$</td>
      </tr>
      <tr>
        <td nowrap="nowrap" bgcolor="#FFFFCC" scope="row"><strong>Errors</strong></td>
        <td colspan="3" nowrap="nowrap" class="tabDetails">$ERRORED$</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th height="21" id='hgroup'> Current Activity</th>
  </tr>
  <tr>
    <td><span class="bodyText">$ACTIVIE_ITEMS$</span></td>
  </tr>
</table>
