<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Deployment Managers on Local Network<br>
</span></p>
<table width="386" border="0">
  <form method="post" action="add_dsservices$SESSION$">
  <tr>
    <td height="16" valign="top" nowrap="nowrap">$CONTENT$</td>
  </tr> 
  <tr>
  <td height="47" valign="bottom" nowrap="nowrap"><input style="text-align:center" type="submit" value="Add Selected Hosts" /></td>
  </tr>
  </form>  
</table>