<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Management Console Users</span></p>
<form id="mc_users" name="mc_users" autocomplete="off" method="post" action="change_mc_users$SESSION$">
<table width="459" border="0">
  <tr>
    <td width="445" height="26">$MC_USERS$</td>
  </tr>
  <tr>
    <td height="21">
  </tr>
  <tr>
    <td height="25"><input style="text-align:center" type="submit" onclick="return confirm('Please confirm changes')" value="Save Changes" /></td>
  </tr>
</table>
</form>