<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">$CAPTION$<br>
  $HOST$</span></p>
<table width="335" border="0">
  <tr>
    <td height="16" valign="top" colspan="7" nowrap="nowrap">$CONTENT$</td>
  </tr> 
</table>
