<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;Services Control</span></p>
<table width="425" height="177" border="0" class="bodyText">
  <tr>
    <th height="22" colspan="3" valign="top">All Services</th>
    <th height="22" colspan="4" valign="top">All Request Processor Services</th>
  </tr>
  <tr>
    <form action="service_action$SESSION$&amp;oper=start&amp;waittext=Starting all services..." method="post">
      <td width="51" height="55" valign="top" nowrap="nowrap"><input style="text-align:center;width=50pt" name="input2" type="submit" onclick="return confirm('Please confirm START for all services')" value=" Start " /></td>
    </form>
    <form action="service_action$SESSION$&amp;oper=stop&amp;waittext=Stopping all services..." method="post">
      <td width="53" valign="top" nowrap="nowrap">        <input style="text-align:center;width=50pt" name="" type="submit" onclick="return confirm('Please confirm STOP for all services')" value=" Stop  " />      </td>
    </form>
    <form action="service_action$SESSION$&amp;oper=restart&amp;waittext=Restarting all services..." method="post">
      <td width="94" valign="top" nowrap="nowrap">        <input style="text-align:center;width=50pt" name="" type="submit" onclick="return confirm('Please confirm RESTART for all services')" value="Restart" />      </td>
    </form>
    <form action="service_action$SESSION$&amp;type=RP&amp;oper=start&amp;waittext=Starting all RP services..." method="post">
      <td width="51" height="55" valign="top" nowrap="nowrap">        <input style="text-align:center;width=50pt" name="input" type="submit" onclick="return confirm('Please confirm START for all Request Processors')" value=" Start " />      </td>
    </form>
    <form action="service_action$SESSION$&amp;type=RP&amp;oper=stop&amp;waittext=Stopping all RP services..." method="post">
      <td width="50" valign="top" nowrap="nowrap">        <input style="text-align:center;width=45pt" name="" type="submit" onclick="return confirm('Please confirm STOP for all Request Processors')" value=" Stop  " />      </td>
    </form>
    <form action="service_action$SESSION$&amp;type=RP&amp;oper=restart&amp;waittext=Restarting all RP services..." method="post">
      <td width="106" colspan="2" valign="top" nowrap="nowrap">        <input style="text-align:center;width=50pt" name="" type="submit" onclick="return confirm('Please confirm RESTART for all Request Processors')" value="Restart" />      </td>
    </form>   
  </tr>
  <tr>
    <td height="16" valign="top" colspan="7" nowrap="nowrap">$CONTENT$</td>
  </tr> 
  <tr>
<td height="68" colspan="10" valign="bottom">
<table width="425" border="0">  
  <tr>
    <td height="16" valign="middle" colspan="4" nowrap="nowrap">&nbsp;</td>
    <td height="16" valign="middle" colspan="7" nowrap="nowrap">&nbsp;</td> 
 </tr>       
</table></td>
  </tr>   
</table>
