<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;Service Debug</span></p>
<table width="497" border="0">
  <tr>
    <td height="37" colspan="2" valign="bottom" nowrap="nowrap">


<td height="37" colspan="2" valign="bottom" nowrap="nowrap">


<form action="service_stack$SESSION$" method="get" target=_blank>
<input style="text-align:center" type="submit" value="Get Service Stack Logs">
</form>
</td>


  </tr>
</table>
