/* Global Styles */

body {
	margin:0px;
	}
	
td {
	color:#333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
	
a {
	color: #993300;
	}
	
a:hover {
	color: #5C743D;
	}

/* ID Styles */

#navigation td {
	border-bottom: 1px solid #F4FFE4;
	}
		
#navigation a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #D5EDB3;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	}
	
#navigation a:hover {
	background: #99CC66;
	color:#993300;
	}
	
#logo 	{
	font:24px Arial, Helvetica, sans-serif;
	color: #5C743D;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 1px dashed #5C743D;
	}
		
#dateformat {
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	font-weight:bold;
	letter-spacing:.1em;
	text-decoration:none;
	}
	
#dateformat a:hover {
	color: #F4FFE4;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	color:#333333;
	line-height:20px;
	margin-top:0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
	
.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color: #99CC66;
	line-height:26px;
	letter-spacing:.21em;
	}
	
.subHeader {
	font:bold 11px Arial, Helvetica, sans-serif;
	color: #993300;
	line-height:22px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
	
.navText {
	font: 11px Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.tabHeader {
	background-color: #FFFFCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #333333;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	letter-spacing: normal;
	padding-right: 8px;
	padding-left: 8px;
	overflow: hidden;
}
.tabDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	letter-spacing: normal;
	padding-right: 8px;
	padding-left: 8px;
	overflow: hidden;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 20px;
}
select {
	color: #333333;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.alertText {
	color:#FF0000;
	line-height:20px;
	margin-top:0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
input {
	color:#333333;
	line-height:20px;
	margin-top:0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#version {
	color: #5C743D;
	letter-spacing:.2em;
	line-height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
textarea {
	color:#333333;
	line-height:20px;
	margin-top:0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#hgroup {
	color:#333333;
	line-height:20px;
	margin-top:0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #D5EDB3;
}
.navigation_sel  {
	color: #5C743D;
	line-height:16px;
	letter-spacing:0.1em;
	text-decoration: none;
	display:block;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #D5EDB3;
}
