<link href="management_console.css" rel="stylesheet" type="text/css" />
<p class="pageName">&nbsp;</p>
<table width="100%" align="center">
  <tr>
    <th colspan="3" class="bodyText" scope="col">$CONTENT$</th>
  </tr>
</table>
