<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Request Broker Status</span></p>
<table width="463" border="0">
  <tr>
    <th class="bodyText" id='hgroup'>Transmitters Queue Status</th>
  </tr>
  <tr>
    <td class="bodyText" id='hgroup3'>$TRANSMITTER_QUEUE_STATUS$</td>
  </tr>
  <tr>
    <td height="36" class="bodyText" id='hgroup2'>&nbsp;</td>
  </tr>
  <tr>
    <th class="bodyText" id='hgroup'>RP Pool Status</th>
  </tr>
  <tr>
    <td><span class="bodyText">$RP_POOL_STATUS$</span></td>
  </tr>
  <tr>
    <td class="bodyText" height="36">&nbsp;</td>
  </tr>
  <tr>
    <th class="bodyText" height="21" id='hgroup'>Pending Requests</th>
  </tr>
  <tr>
    <td class="bodyText" height="22">$PENDING_REQUESTS$</td>
  </tr>
  <tr>
    <td class="bodyText" height="36">&nbsp;</td>
  </tr>
  <tr>
    <th height="22" class="bodyText" id='hgroup'>RP Sessions</th>
  </tr>
  <tr>
    <td><span class="bodyText">$RP_SESSIONS$</span></td>
  </tr>
  <tr>
    <td height="36">&nbsp;</td>
  </tr>
  <tr>
    <th height="21" class="bodyText" id='hgroup'>Client Sessions</th>
  </tr>
  <tr>
    <td><span class="bodyText">$CLIENT_SESSIONS$</span></td>
  </tr>
</table>
<p class="bodyText">&nbsp;</p>
