<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Reset ADMIN Account</span></p>
<form id="" name="" method="post" action="change_admin_password$SESSION$&evdomain=$EVDOMAIN$">
<p class="subHeader">$EVDOMAIN_NAME$</p><br>
<table width="493" height="81" border="0">
  <tr>
    <td height="32" valign="top" nowrap="nowrap"> New ADMIN password</td>
    <td height="32" valign="top" nowrap="nowrap"><input name="dbPassword" type="password" id="dbPassword" size="32" /></td>
  </tr>
  <tr>
    <td height="39" valign="bottom" nowrap="nowrap"><input style="text-align:center" name="input" type="submit" value="Save Changes" onclick="return confirm('Please confirm admin account reset')"/></td>
    <td height="39" valign="bottom" nowrap="nowrap"></td>
  </tr>
</table>
</form>
