<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Request Processor Activity</span><br>
  <span class="pageName">Host: $HOST$</span></p>
<p><span class="bodyText">$SET_REFRESH$</span></p>
<table width="335" border="0">
  <tr>
    <td height="16" valign="top" colspan="7" nowrap="nowrap">$CONTENT$</td>
  </tr> 
</table>
