<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Remote Relays Status</span></p>
<p><span class="bodyText">$SET_REFRESH$</span></p>
<table width="463" border="0">
  <tr>
    <th height="21" class="bodyText" id='hgroup'>Users Connections</th>
  </tr>
  <tr>
    <td><span class="bodyText">$CONTENT$</span></td>
  </tr>
</table>
<p class="bodyText">&nbsp;</p>
