<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Server Monitor</span></p>
<p class="bodyText">$SET_REFRESH$</p><br>
<table width="335" border="0">
  <tr>
    <td height="16" valign="top" colspan="7" nowrap="nowrap">$CONTENT$</td>
  </tr> 
</table>
