<link href="management_console.css" rel="stylesheet" type="text/css" />
<form action="set_evdomain$SESSION$" method="post" name="ev_domain" id="Ev_Domain">
  <table width="306" border="0" class="bodyText">
    <tr>
      <td width="105" scope="col">Evolution Domain</td>
      <td width="191" scope="col"><select name="evdomain" id="evdomain" onchange="document.getElementById('Ev_Domain').submit()">
      $DOMAINLIST$
      </select></td>
    </tr>
  </table>
</form>
