<link href="management_console.css" rel="stylesheet" type="text/css" />
<form id="RefreshTime" method="post" action="set_refresh$SESSION$">
  <table width="221" border="0" class="bodyText">
    <tr>
      <td width="96" scope="col">Refresh Interval</td>
      <td width="96" scope="col"><select name="refresh_time" id="refresh_time" onchange="document.getElementById('RefreshTime').submit()">
        <option value="0" $SELECTED0$>Never</option>
        <option value="5" $SELECTED5$>Every 5 sec</option>
        <option value="30" $SELECTED30$>Every 30 sec</option>
        <option value="60" $SELECTED60$>Every minute</option>
      </select></td>
    </tr>
  </table>
</form>
