<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">&nbsp;Send Message</span></p>
<form id="" name="" method="post" action="send_user_message$SESSION$">
<table width="497" border="0">
  <tr>
    <td width="56" height="35" valign="top" nowrap="nowrap"><label>Send To</label></td>
    <td width="431" valign="top" nowrap="nowrap">$SEND_TO_LIST$</td>
  </tr>
  <tr>
    <td height="83" valign="top" nowrap="nowrap">Message</td>
    <td height="83" valign="top" nowrap="nowrap"><textarea name="message" id="message" cols="80" rows="5">$LAST_SENT_USER_MESSAGE$</textarea></td>
  </tr> 
  <tr>
    <td height="37" colspan="2" valign="bottom" nowrap="nowrap"><input style="text-align:center" type="submit" value="Send Message" /></td>
  </tr>
  <tr>
    <td height="45" colspan="2" valign="bottom" nowrap="nowrap">&nbsp;</td>
  </tr>  
</table>
</form>
