<link href="management_console.css" rel="stylesheet" type="text/css" />
<p><span class="pageName">Evolution Version Change</span></p>
<table width="386" height="279" border="0">
  <tr>
<td width="380" scope="col">
   	  <form action="change_appversion$SESSION$&amp;waittext=Installing a new version..." method="post" name="" class="bodyText" id="">
		<h3>$VERSION_STATUS$</h3>
  			<p>$LOCAL_VERSIONS$</p>
  			<p>
  			  <input style="text-align:center" type="submit" onclick="return confirm('New version will be installed. Please confirm.')" 	value="Install Selected Version" />
  			</p>
	  </form>   </td>  
  </tr>
  <tr>
    <td scope="col">&nbsp;</td>
  </tr>
  <tr>    
    <td width="380" scope="col">
	  <form action="download_appversion$SESSION$&amp;waittext=Downloading a new version..." method="post" name="" class="bodyText" id="">
		<h3>New Versions on the iSystems Website</h3>
		<p>$REMOTE_VERSIONS$</p>
  			<p>
    		<input style="text-align:center" type="submit" onclick="return confirm('New version will be downloaded. Please confirm.')" 	value="Download Selected Version" />
		</p>
    </form>    </td>
  </tr>
</table>
