<link href="management_console.css" rel="stylesheet" type="text/css" />
<p class="pageName">&nbsp;</p>
<p class="pageName">&nbsp;</p>
<p class="pageName">&nbsp;</p>
<table width="100%" align="center">
  <tr>
    <th height="78" colspan="3" align="center" valign="top" scope="col"><input name="imageField" type="image" id="imageField" src="wait.gif" /></th>
  </tr>
  <tr>
    <th colspan="3" class="pageName" scope="col">$CAPTION$</th>
  </tr>
</table>
<p class="bodyText">&nbsp;</p>
